{% extends "base.html.twig" %}

{% block title %}{{ author.getName }}{% endblock %}

{% block content %}
<h1>{{ author.getName }} Information</h1>


<ul>
    {% if books is not empty %}
    {% for book in books %}
        <li><a href="/book/{{ book.getId }}">{{book.getTitle}}</a></li>
    {% endfor %}
    {% endif %}
</ul>



{% if all_books is not empty %}
<form action="/assign_book/{{ author.getId }}" method="post">
    <label for="assign-book">Assign a book</label>
        <select name="assign-book">
            {% for book in all_books %}
            <option value="{{ book.getId }}">{{ book.getTitle}}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-success">Assign book</button>
</form>
{% endif %}

<form action="/edit_author/{{ author.getId }}" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="edit-author">Edit Author</label>
    <input type="text" name="new-name" value="{{ author.getName }}">

    <button type="submit" class="btn btn-warning">Edit</button>
</form>

<form action="/delete_author/{{ author.getId }}" method="post">
    <input type="hidden" name="_method" value="delete">
    <label for="delete-author">Delete Author</label>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
