{% extends "base.html.twig" %}

{% block title %}{{ book.getTitle }}{% endblock %}

{% block content %}

<h1>{{ book.getTitle }} Information</h1>

<ul>
    <li>Title: {{ book.getTitle }}</li>
    <ul>
        <li>Total # of Copies: {{ book.getTotalCopies }}</li>
        <li>Current stock: {{ book.getCopiesIn }}</li>
        <li>On loan: {{ book.getCopiesOut }}</li>
        <li>
            <ul>
            {% if authors is not empty %}
            {% for author in authors %}
                <li><a href="/author/{{ author.getId }}">{{author.getName}}</a></li>
            {% endfor %}
            {% endif %}
            </ul>
        </li>
    </ul>
</ul>

<div class="edit_delete">

    <form action="/edit_book/{{ book.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="edit-book">Edit Book</label>
        <input type="text" name="title" value="{{ book.getTitle }}" class="form-control">
        <input type="number" name="total-copies" min="{{book.getCopiesOut}}" value="{{ book.getTotalCopies }}" class="form-control">

        <button type="submit" class="btn btn-warning">Edit</button>
    </form>

    <form action="/delete_book/{{ book.getId }}" method="post">
        <input type="hidden" name="_method" value="delete">
        <label for="delete-book">Delete Book</label>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{% if all_patrons is not empty %}

<form action="/checkout_book/{{ book.getId }}" method="post">
    <label for="patron">Checkout Book</label>
        <select name="patron" class = "form-control">
            {% for patron in all_patrons %}
            <option value="{{ patron.getId }}">{{ patron.getName }}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-info">Checkout</button>
</form>
{% endif %}

{% if all_authors is not empty %}
<form action="/assign_author/{{ book.getId }}" method="post">
    <label for="assign-author">Assign an author</label>
        <select name="assign-author" class="form-control">
            {% for author in all_authors %}
            <option value="{{ author.getId }}">{{ author.getName }}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-success">Assign</button>
</form>
{% endif %}


{% endblock %}
